body{
    background-image: url(image/universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}   
h1{
    top: 10px;
    color:white;
    font-size: 50px;
    text-align: center;
    margin: auto;
   
}
h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(177, 216, 255);
    font-size: 25px;
    width: 100%;
    text-align: center;
    background-position: 100%;
    background-repeat: repeat-x;
    transition: 0.5s;
}
table{
    width:100%;
    border-color:skyblue;
    background-color: rgb(90, 93, 93);
    padding: 1px;
    color: aliceblue;
    border-style: solid;
    
}
tr{
    text-align: center;
    font-size: 20px;

}
th{display: inline-block;
    padding-inline: 50px;
}
a{
    color: white;
    transition: 0.5s;
}
a:hover{
    border-width: 10px;
   background-color: rgb(0, 0, 0);
}
.d2{
    display: inline-block;
}
.image{
    display: inline-flex;
    width: 19%;
    height:300px;
    border-radius: 5px;
}
.image:hover{
    width: 21%;
    height: 350px;
   transition: 1s;
}

.vdo{
    display: inline-block;
    width: 23%;
    height: 250px;
    border-radius: 5px;
}
fieldset{
    display: inline-block;
    width: 100%;
}
.contact{
  margin: auto;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(201, 223, 223);
    text-align: center;
    color: black
}

.field2{
    width: 90%;
    display: inline-block;

}
.sub{
    background-color:rgb(0, 0, 0);
    color: azure;
    transition: 0.5s;

}
.sub:hover{
        background-color: white;
        color: black;
        border-radius: 5px;
}

