body{
    background-image: url(image/universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}   
h1{
    top: 10px;
    color:white;
    font-size: 50px;
    text-align: center;
   
}
h2{ padding:5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(177, 216, 255);
   background-position: 100%;
    font-size: 30px;
    text-align: center;
   background-repeat: repeat-x;
}
table{
    border:"1";
    width:100%;
    border-color:skyblue;
    background-color: rgb(90, 93, 93);
    padding: 1px;
    color: aliceblue;
    border-style: solid;
}
tr{
    text-align: center;
    font-size: 20px;

}
th{
    padding-inline: 50px;
}
a{  
    color: white;
}
.spacex{
    alt: Space;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.rocket{
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.nebula{
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.galaxy{
    height: 300px;
    width: 340px;
    border-radius: 5px;
}
.jemswebb{
    height: 300px;
    width:308px;
    border-radius: 5px;
}
.d2{
    display: inline-block;
}
.ytb{
    border-width: 5px;
    border-color: black;
    width: 650px;
    height: 450px;
}
.mars{
    border-width: 5px;
    border-color: black;
    width: 500px;
    height: 450px;
}
.tag{
    border-width: 5px;
    border-color: black;
    width: 525px;
    height: 450px;
}
.contact{
    margin: auto;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(201, 223, 223);
    text-align: center;
    color: black
}
.field2{

    padding: 100px;
}
.sub{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.sub:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
